{% extends('base.html.twig') %}

{% block title %} 
    <title>Registro de Usuarios</title>
{% endblock %}

{% block body %}
    <h1>Registro!</h1>
    {{ form_start(form_users) }}
        <div class="form-group col-lg-4">
            {{ form_row(form_users.name) }}
        </div>
        <div class="form-group col-lg-4">
            {{ form_row(form_users.lastname) }}
        </div>
        <div class="form-group col-lg-4">
            {{ form_row(form_users.email) }}
        </div>
        <div class="form-group col-lg-4">
            {{ form_row(form_users.password) }}
        </div>
        {{ form_row(form_users.submit) }} 
        <a href="{{ path('getUsers') }}" class="btn btn-default">Cancelar</a>
    {{ form_end(form_users) }}
   
{% endblock %}